$font: "Poppins", sans-serif;
$accentColor: #3a7eff;
$primaryTextColor: #333;
$accentTextColor: $accentColor;
$headerTextColor: #fff;

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.clearfix {
  overflow: auto;
}

.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

html,
body {
  font-family: $font;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $primaryTextColor;
}

header {
  background: $accentColor;
  display: block;
  padding: 25px 0;
  color: $headerTextColor;
}

main header {
  background: none;
  color: $primaryTextColor;
}

a {
  color: $accentTextColor;
  text-decoration: none;
}

nav {
  @extend .clearfix;

  h5 {
    float: left;
    font-weight: 500;
    font-size: 1.2em;
    vertical-align: middle;
    line-height: 25px;
    margin: 0;
    color: $headerTextColor;
  }

  ul {
    list-style: none;
    float: right;
    margin: 0;
    overflow: hidden;

    li {
      float: left;
      padding-left: 20px;
      margin: 0;

      a {
        color: $headerTextColor;
        text-decoration: none;
        opacity: 0.9;
        transition: 1s color ease-in-out;
        line-height: 25px;
        vertical-align: middle;

        &:hover {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }
  }
}

h1 {
  small {
    color: $accentTextColor;
    display: block;
    clear: both;
    width: 100%;
  }
}

main {
  @extend .clearfix;

  width: 900px;
  max-width: 900px;
  margin: 0 auto;

  nav {
    width: 100%;
    display: block;
    
    ul {
      display: block;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 50px;

      li a {
        color: $accentTextColor;
      }
    }
  }
}

section {
  @extend .clearfix;

  padding-top: 50px;
  color: $primaryTextColor;

  h5 {
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.85;
    text-align: center;
  }
}

form {
  width: 100%;

  label {
    display: block;
    color: rgba(0, 0, 0, .6);
  }

  input, 
  textarea {
    padding: 15px;
    border: 2px solid #999;
    background: #eee;
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    transition: all 0.5s ease-in;
    box-sizing: border-box;

    &:focus {
      border: 2px solid #888;
      background: #ddd;
    }
  }

  button {
    font-family: $font;
    color: $headerTextColor;
    background: $accentColor;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    z-index: 5000;
    position: relative;
    transition: all 0.5s ease-in-out;

    &:hover {
      background: darken($accentColor, 5%);
    }
  }
}

article {
  width: 100%;
  box-sizing: border-box;
  // padding: 20px;
  text-align: left;
  float: left;
  margin: auto;

  &.article {
    width: calc(100% / 3);
    min-width: 300px;
  }

  .article {
    &__thumbnail {
      width: 260px;
      height: 260px; 
    }

    &__date {
      margin: 0;
    }
  }

  section {
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  small {
    color: $accentTextColor;
  }

  h1 {
    margin: 0;
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: initial;
    margin: 0;
  }

  img {
    transition: all 2.5s ease-in-out !important;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

footer {
  margin-top: 50px;
  border-top: 8px solid $accentColor;
  padding: 20px 0;

  .container > span:nth-of-type(2) {
    float: right;
  }
}

.container {
  @extend .clearfix;

  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.jumbo {
  padding: 60px 0;
  text-align: center;

  h1 {
    font-weight: 500;

    span {
      animation-name: wave-animation;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
      display: inline-block;
    }
  }

  p {
    max-width: 600px;
    margin: 0 auto;
  }
}

.project {
  padding: 0;
  padding-bottom: 100px;

  &__thumbnail {
    width: 50%;
    height: 260px;
    float: left;

    &--right {
      float: right;
    }

    img {
      transition: all 5s !important;
    }
  }

  &__entry {
    float: left;
    width: 50%;
    padding-left: 25px;
    box-sizing: border-box;

    &--left {
      padding-right: 25px;
      padding-left: 0;
    }
  }

  &__excerpt {
    color: rgba(0, 0, 0, .8);
    margin-top: 10px;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 900px) {
  nav {
    padding: 25px;
    box-sizing: border-box;
  }
}
