$font: "Poppins", sans-serif;
$accentColor: #3a7eff;
$primaryTextColor: #333;
$accentTextColor: $accentColor;
$headerTextColor: #fff;

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.clearfix {
  overflow: auto;
}

.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

html,
body {
  font-family: $font;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $primaryTextColor;
}

header {
  background: $accentColor;
  display: block;
  padding: 25px 0;
  color: $headerTextColor;
}

main header {
  background: none;
  color: $primaryTextColor;
}

a {
  color: $accentTextColor;
  text-decoration: none;
}

.nav {
  @extend .clearfix;
  overflow: hidden;
  padding: 0.5rem 1rem;

  &__title {
    float: left;
    font-weight: 500;
    font-size: 1.2em;
    vertical-align: middle;
    line-height: 25px;
    margin: 0;
    color: $headerTextColor;
  }

  &__toggle {
    float: right;
    background: none;
    border: none;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 4px 0;

    &-bar {
      display: block;
      width: 16px;
      height: 2px;
      margin-bottom: 4px;
      background: #fff;
    }
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 999999;
    height: 32px;
    color: rgba(255, 255, 255, 0.8);
    background: none;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    writing-mode: sideways-lr;
    text-orientation: mixed;

  }

  &__nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $accentColor;  
    overflow: hidden;
    z-index: 9999;
    display: none;

    &--active {
      display: block;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      list-style: none;
      height: 100%;

      li {
        float: left;
        margin: 0;

        a {
          display: block;
          color: $headerTextColor;
          text-decoration: none;
          opacity: 0.9;
          transition: 1s color ease-in-out;
          line-height: 25px;
          font-size: 1.2rem;
          padding: 25px;
          font-weight: 500;
          width: 100%;

          &:hover {
            opacity: 1;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

h1 {
  small {
    color: $accentTextColor;
    display: block;
    clear: both;
    width: 100%;
  }
}

main {
  @extend .clearfix;

  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;

  nav {
    width: 100%;
    display: block;

    ul {
      display: block;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 50px;

      li a {
        color: $accentTextColor;
      }
    }
  }
}

section {
  @extend .clearfix;

  color: $primaryTextColor;

  h5 {
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.85;
    text-align: center;
    padding: 30px 0;
  }
}

form {
  width: 100%;

  label {
    display: block;
    color: rgba(0, 0, 0, 0.6);
  }

  input,
  textarea {
    padding: 15px;
    border: 2px solid #999;
    background: #eee;
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    transition: all 0.5s ease-in;
    box-sizing: border-box;

    &:focus {
      border: 2px solid #888;
      background: #ddd;
    }
  }

  button {
    font-family: $font;
    color: $headerTextColor;
    background: $accentColor;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    z-index: 5000;
    position: relative;
    transition: all 0.5s ease-in-out;

    &:hover {
      background: darken($accentColor, 5%);
    }
  }
}

article {
  width: 100%;
  box-sizing: border-box;
  // padding: 20px;
  text-align: left;
  float: left;
  margin: auto;

  &.article {
    width: 100%;
    margin-bottom: 30px;
  }

  .article {  
    &__thumbnail {
      width: 100%;
      height: 260px;
      // width: 260px;
      // height: 260px;
    }

    &__date {
      margin: 0;
    }
  }

  section {
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  small {
    color: $accentTextColor;
  }

  h1 {
    margin: 0;
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: initial;
    margin: 0;
  }

  img {
    transition: all 2.5s ease-in-out !important;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

footer {
  margin-top: 50px;
  border-top: 8px solid $accentColor;
  padding: 20px 0;

  .container > span {
    display: block;
    text-align: center;
    line-height: 20px;
  }
}

.container {
  @extend .clearfix;

  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.jumbo {
  padding: 4rem 1rem;
  text-align: center;

  h1 {
    font-weight: 500;

    span {
      animation-name: wave-animation;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
      display: inline-block;
    }
  }

  p {
    max-width: 600px;
    margin: 0 auto;
  }
}

.project {
  padding: 0;
  padding-bottom: 30px;

  &__thumbnail {
    width: 100%;
    height: 260px;
    float: left;

    &--right {
      float: right;
    }

    img {
      transition: all 5s !important;
    }
  }

  &__entry {
    float: left;
    width: 100%;
    padding-top: 15px;
    box-sizing: border-box;
  }

  &__excerpt {
    color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

@media only screen and (min-width: 900px) {
  main {
    padding: 0;
  }

  .nav {
    padding: 0;

    &__toggle,
    &__close {
      display: none;
    }

    &__nav {
      position: static;
      display: block;
      float: right;
      width: auto;

      ul {
        display: block;        

        li {
          padding-left: 30px;

          a {
            font-size: inherit;
            padding: 0;
          }
        }
      }
    }
  }

  .article {
    width: calc(100% / 3) !important;

    a {
      width: 260px;
      display: block;
    }
  }

  .project {
    padding-bottom: 100px;

    &__thumbnail {
      width: 50%;
      float: left;

      &--right {
        float: right;
      }
    }

    &__entry {
      width: 50%;
      padding-left: 25px;
      padding-top: 0;

      &--left {
        padding-right: 25px;
        padding-left: 0;
      }

    }
  }

  footer {
    .container > span:first-child {
      float: left;
    }

    .container > span:nth-child(2) {
      float: right;
    }
  }
}
